* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* body {
  background-color: rgba(245, 245, 245, 0.907);
} */

canvas {
  height: 100vh !important;
}

/* .app {
  display: flex;
} */

.container {
  background-color: rgba(211, 211, 211, 0.15);
  border-radius: 10px;
  height: 98vh;
  width: 20vh;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  color: whitesmoke;
  flex: 1;
}
.controls {
  flex: 1;
}

.notifications {
  background-color: rgba(211, 211, 211, 0.2);
  flex: 1;
  width: 100%;
  border-radius: 10px;
}

.footer {
  color: brown;
  height: 3vh;
  width: 100vh;
  margin: 5px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: end;
}
